*{
    margin: 0px;
    padding: 0px;
}

.col-1, .col-2, .col-4, .col-6, .col-8,.col-3, .col-9, .col-10 {
    padding: 0px;
}

.row{
    margin: 0px;
}

body{
    background-color: #EDF0F2;
    font-family: 'Teko', sans-serif; 
}

/* font-family: 'Baloo Tamma 2', cursive;
   font-family: 'Noto Sans JP', sans-serif;
   font-family: 'Teko', sans-serif;          */

   /* Navbar Section */

.navbar-container{
    width: 100%;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 160px;
  }

.brand-title {
    display: inline-block;
  }

.brand-title:hover {
    text-decoration: none;
  }

  .navbar-links {
    height: 100%;
}

.vr{
    border-left: 1px solid black;
    opacity: 30%;
    height:2rem;
    align-items: center;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: .5rem 1rem ;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-links li:hover {
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .navbar {
        padding: 0px 0px 0px 160px;
    }

    .brand-title img{
        height: 90%;
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .brand-title img{
        height: 80%;
        width: 80%;
    }

    .navbar {
        padding: 0px 0px 0px 120px;
    }

    .brand-title img{
        height: 60%;
        width: 60%;
    }

    .navbar-links ul li a {
        padding: .3rem .7rem;
        font-size: .9rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .vr{
        display: none;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    #search a{
        padding-left: .5rem;
    }

    #search a img{
        width: 70%;
        height: auto;
    }
}

/*End of Navbar Section */
.survive-container{
    width: 100%;
    margin-top: 50px;
    display: inline-flex;
    padding: 0px 0px 0px 80px;
}

.findoutcontent{
    display: flex;
    justify-content: center;
}

.left-findout p{
    display: inline-block;
    writing-mode: vertical-rl;
    font-size: 3.42rem;
    transform: rotate(180deg);
}

.left-findout ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.left-findout ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.heading1 h1{
    font-size: 11rem;
    color: #E4003B;
    line-height: 130px;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.heading1 p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}

.heading1 img{
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: -1;
    width: 20%;
    height: auto;
}

#carousel1Controls{
    position: relative;
}

.carouselcontrolprev {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.carouselcontrolnext {
    position: absolute;
    right: 0px;
    bottom: 66px;
}

#numberingid{
    display: flex;
    align-items: center;
    justify-content: center;
}

#numberingid h1{
    font-size: 60px;
}

#numberingid hr{
    border-top: #E4003B 2px solid;
}

#numberingid h6{
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
}

.keyskills1, .keyskills2, .keyskills3{
    color: #E4003B;
}

#challanges {
    margin-top: 100px;
    padding: 0px 0px 0px 100px;
}

#mask-1, #mask-2, #mask-3 {
    width: 80%;
    height: 80%;
}

#mask-01, #mask-02, #mask-03 {
    display: flex;
    align-items: center;
}

#challanges-heading h2 {
    font-weight: 600;
}

.Quis1, .Quis3, .Quis3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;

}

#challanges-heading-1, #challanges-heading-2, #challanges-heading-3 {
    margin-bottom: 30px;
}

.skills-toggle-1, .skills-toggle-2, .skills-toggle-3 {
    display: flex;
    align-items: center;
}

.skills-toggle-1:hover, .skills-toggle-2:hover, .skills-toggle-3:hover {
    cursor: pointer;
}

.skills-toggle-1 h6, .skills-toggle-2 h6, .skills-toggle-3 h6 {
    margin: 0px;
    font-weight: 600;
}

#cross-1, #cross-2, #cross-3 {
    width: 28px;
    height: 28px;
    margin-right: 50px;
}

.skills-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.mission-heading {
    display: flex;
    font-size: 10rem;
    position: relative;
}

.mission-heading h1{
    text-transform: uppercase;
    color: white;
    font-size: 8rem;
    font-weight: 600;
}

.mission-heading h4{
    text-transform: uppercase;
    color: #E4003B;
    font-size: 3rem;
    font-weight: 600;
}

.rotated-text h4{
    transform: rotate(-15deg);
    font-family: 'Baloo Tamma 2', cursive;
    color: #E4003B;
    font-size:3.5rem;
    font-weight: 400;
    text-transform: lowercase;
}

.rotated-text{
    position: absolute;
    display: flex;
    bottom: 69px;
}

#mission-content {
    position: relative;
    top: -115px;
}

#mission-content img{
    display: block;
    width: 100%;
    height: 80%;
}

.mission-image{
    position: relative;
    left: -100px;
}

.mission-text {
    position: relative;
    top: -100px;
}

.mission-text h3{
    font-size:3rem;
    font-weight:600;
}

.mission-text h4{
    font-size:2rem;
    font-weight:500;
}

#results-htext h2{
display: inline-block;
writing-mode: vertical-rl;
font-size: 10.5rem;
transform: rotate(180deg);
color: white;
text-transform: uppercase;
line-height: 7rem;
}

#results-htext img{
    position: relative;
    bottom: 189px;
    right: -114px;
    z-index: 1;
}

.mission-text h6{
    font-family: 'Noto Sans JP', sans-serif;
    font-size:.8rem;
    font-weight:400;
}

.mission-toggle {
    display: flex;
    align-items: flex-end;
    margin:0px;
    position: relative;
    top: -200px;
}

.mission-toggle:hover {
    cursor: pointer;
}

.mission-toggle h6{
    margin:0px;
    font-weight: 600;
}

#mission-cross{
    width: 28px;
    height: 28px;
    margin-right: 50px
}


.results-section {
    padding: 0px 0px 0px 160px;
}

#callenges-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#callenges-text h4{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

#callenges-text h1{
    font-size: 17rem;
    font-weight: 600;
    color: #E4003B;
    line-height: 14.5rem;
}

#callenges-text h2{
    font-size: 3.4rem;
    font-weight: 600;
}

#callenges-text h2 span{
    font-size: 3.75rem;
    font-weight: 600;
    color: #E4003B;
}

.challenges-toggle {
    display: flex;
    align-items: flex-end;
    margin:0px;
}
.challenges-toggle:hover {
    cursor: pointer;
}

.challenges-toggle h6{
    margin:0px;
    font-weight: 600;
}

#challenges-cross{
    width: 28px;
    height: 28px;
    margin-right: 50px
}


#results-sharing img{
    width: 70%;
    height: auto;
}

.results-bgimg {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}

.results-sharingonline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid #E4003B;
  color: white;
  padding: 20px;
  padding-top:150px ;
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(121,9,9,0) 35%, rgba(0,0,0,0.8326681014202556) 100%);
}

.results-sharingonline h1 {
    font-size:3rem;
    text-transform: uppercase;
  }

.socialm-sharing-toggle {
    display: flex;
    align-items: flex-end;
    margin:0px;
}

.socialm-sharing-toggle:hover {
    cursor: pointer;
}

#socialm-sharing-toggle-id img{
    width: 28px;
    height: auto;
    margin-right: 20px;
}

#socialm-sharing-toggle-id h6{
    margin: 0px;
    text-transform: uppercase;
}


#advice-section{
    padding: 0px 0px 0px 160px;
}

#adviceh h1{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-transform: uppercase;
    color: #E4003B;
    font-weight: 600;
    font-size: 10rem;
    line-height: 12rem;
    margin: 0px;
}

.carousel-num {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: #EDF0F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-num .num {
    border-bottom: 1px solid #E4003B;
    font-size: 3rem;
}


#adviceh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-text {
    position: absolute;
    bottom: 0px;
    background-color: #EDF0F2;
    padding: 40px;
    max-width: 420px;
}

.mode-toggle {
    display: flex;
    align-items: flex-end;
    margin:0px;
}

.mode-toggle:hover {
    cursor: pointer;
}

.mode-toggle h6{
    margin:0px;
    font-weight: 600;
}

#mode-cross{
    width: 28px;
    height: 28px;
    margin-right: 50px
}



#gallery {
    margin-top: 100px;
    padding: 0px 160px 0px 160px;
}

.tent-img img {
    width: 90%;
    height: auto;
}

.tent-img {
    position: relative;
}

.yt-icon {
    position: absolute;
    top: 12px;
    left: 30px;
}

.kettle-img img {
    width: 90%;
    height: auto;
}

.kettle-img {
    position: relative;
}

.ga-icon {
    position: absolute;
    top: 12px;
    left: 30px;
}

.ga-content {
    display: flex;
    flex-direction: column;
}

.ga-content h2{
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 5rem;
}

.fvr h5{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 4.375rem;
    color: #E4003B;
    transform: rotate(-15deg);
}

.ga-toggle {
    display: flex;
    align-items: flex-end;
    margin:0px;
}

.ga-toggle:hover {
    cursor: pointer;
}

.ga-toggle h6{
    margin:0px;
    font-weight: 600;
}

#ga-cross{
    width: 28px;
    height: 28px;
    margin-right: 50px
}

#footer {
    margin-top: 100px;
    padding: 0px 160px 0px 160px;
}


.footer {
    width: 100%;
    background-image: url(../images/Mask\ Group\ 5.png);
    height: auto;
	display: block;
}

.inner-footer {
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}